{% extends 'FuzQuickStartBundle::layout.html.twig' %}

{% block body -%}
    <h1>{{ 'quickstart.crud.index.title' | trans({'%entity%': 'Test'}) }}</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Phone</th>
                <th>Name</th>
                <th>{{ 'quickstart.crud.index.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('test_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.name }}</td>
                <td>
                <a href="{{ path('test_show', { 'id': entity.id }) }}" class="btn btn-default">{{ 'quickstart.crud.action.show' | trans }}</a>
                <a href="{{ path('test_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ 'quickstart.crud.action.edit' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{{ path('test_new') }}" class="btn btn-primary">
        {{ 'quickstart.crud.new.button' | trans }}
    </a>
    {% endblock %}
