
<h3>Permissions</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ 'admin.permissions.name' | trans }}</th>
            <th class="width-25">{{ 'admin.permissions.delete' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for resource in list %}
            <tr>
                <td>{{ resource.role }}</td>
                <td>
                    <input
                        type="button"
                        class="btn btn-danger domajax click"
                        data-endpoint="{{ path('admin_permissions_delete', {token: csrf_token('administration'), selectedId: selectedId}) }}"
                        data-confirm="{{ 'admin.permissions.confirm_delete' | trans({'%permission%': resource.role }) | e('html_attr') }}"
                        data-input-attr="id"
                        data-id="{{ resource.id }}"
                        data-output="#permissions"
                        value="{{ 'admin.permissions.delete' | trans }}"
                        />
                    &nbsp;
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ form(create) }}

