<div class="row">
    <div id="permissions" class="col-md-6">
        <h3>Permissions</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'admin.permissions.id' | trans }}</th>
                    <th>{{ 'admin.permissions.name' | trans }}</th>
                    <th>{{ 'admin.permissions.delete' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in list %}
                    <tr>
                        <td>{{ resource.id }}</td>
                        <td>{{ resource.role }}</td>
                        <td>
                            <input
                                type="button"
                                class="btn btn-danger domajax click"
                                data-endpoint="{{ path('admin_permissions_delete', {token: csrf_token('delete-permission'), selectedId: selectedId}) }}"
                                data-confirm="{{ 'admin.permissions.confirm_delete' | trans({'%permission%': resource.role }) | e('html_attr') }}"
                                data-input-attr="id"
                                data-id="{{ resource.id }}"
                                data-output="#permissions"
                                value="{{ 'admin.permissions.delete' | trans }}"
                            />
                            &nbsp;
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ form(create) }}

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
</div>
