
{% extends 'AppBundle::layout.html.twig' %}

{% import 'BaseBundle::macros.html.twig' as macros %}

{% block title %}{{ 'base.menu.admin.permissions' | trans }}{% endblock %}

{% block body %}

    <div class="well">

        {{ macros.search('permission-filter') }}

        <table class="table">
            <thead>
                <tr>
                    <th style="width: 35%;">{{ macros.orderBy(orderBy, 'id', 'admin.permissions.id') }}</th>
                    <th style="width: 35%;">{{ macros.orderBy(orderBy, 'name', 'admin.permissions.name') }}</th>
                    <th style="width: 30%;">{{ 'admin.permissions.actions' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for permission in pager.currentPageResults %}
                    <tr>
                        <td>
                            {{ permission.id }}
                        </td>
                        <td>
                            {{
                                include('BaseBundle::editOnClick.html.twig', {
                                    'text': permission.name,
                                    'endpoint': path('_admin_permissions_edit_name', {id: permission.id}),
                                })
                            }}
                        </td>
                        <td>
                            <a
                                href="{{ path('admin_permissions_manage', {id: permission.id}) }}"
                                class="btn btn-warning btn-sm">{{ 'admin.permissions.manage' | trans }}</a>
                            &nbsp;&nbsp;&nbsp;
                            <a
                                href="{{ path('admin_permissions_delete', {id: permission.id, token: csrf_token('admin_permissions')}) }}"
                                data-message="{{ 'admin.permissions.delete_confirm' | trans({'%id%': permission.id}) | e('html_attr') }}"
                                class="requires-confirmation btn btn-danger btn-sm">{{ 'admin.permissions.delete' | trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ macros.pager(pager, 'permission-') }}

    </div>

    {{ macros.form(create, [], 'admin.permissions.create' | trans) }}

{% endblock %}
