<div id="share-buttons">

    <span>{{ 'base.share'|trans }}</span>

    <!-- Buffer -->
    <a href="https://bufferapp.com/add?url={{ url|e('html_attr') }}&amp;text={{ title|e('html_attr') }}" target="_blank">
        <img src="{{ asset('bundles/base/img/social/buffer.png') }}" alt="Buffer" />
    </a>

    <!-- Digg -->
    <a href="http://www.digg.com/submit?url={{ url|e('html_attr') }}" target="_blank">
        <img src="{{ asset('bundles/base/img/social/diggit.png') }}" alt="Digg" />
    </a>

    <!-- Email -->
    <a href="mailto:?Subject={{ title }}&amp;Body={{ description|striptags }} {{ url|e('html_attr') }}">
        <img src="{{ asset('bundles/base/img/social/email.png') }}" alt="Email" />
    </a>

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{ url|e('html_attr') }}" target="_blank">
        <img src="{{ asset('bundles/base/img/social/facebook.png') }}" alt="Facebook" />
    </a>

    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{ url|e('html_attr') }}" target="_blank">
        <img src="{{ asset('bundles/base/img/social/google.png') }}" alt="Google" />
    </a>

    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ url|e('html_attr') }}" target="_blank">
        <img src="{{ asset('bundles/base/img/social/linkedin.png') }}" alt="LinkedIn" />
    </a>

    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
        <img src="{{ asset('bundles/base/img/social/pinterest.png') }}" alt="Pinterest" />
    </a>

    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="{{ asset('bundles/base/img/social/print.png') }}" alt="Print" />
    </a>

    <!-- Reddit -->
    <a href="http://reddit.com/submit?url={{ url|e('html_attr') }}&amp;title=Simple Share Buttons" target="_blank">
        <img src="{{ asset('bundles/base/img/social/reddit.png') }}" alt="Reddit" />
    </a>

    <!-- StumbleUpon-->
    <a href="http://www.stumbleupon.com/submit?url={{ url|e('html_attr') }}&amp;title={{ title|e('html_attr') }}" target="_blank">
        <img src="{{ asset('bundles/base/img/social/stumbleupon.png') }}" alt="StumbleUpon" />
    </a>

    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{ url|e('html_attr') }}&amp;title={{ title|e('html_attr') }}" target="_blank">
        <img src="{{ asset('bundles/base/img/social/tumblr.png') }}" alt="Tumblr" />
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{ url|e('html_attr') }}&amp;text={{ title|e('html_attr') }}" target="_blank">
        <img src="{{ asset('bundles/base/img/social/twitter.png') }}" alt="Twitter" />
    </a>

    <!-- VK -->
    <a href="http://vkontakte.ru/share.php?url={{ url|e('html_attr') }}" target="_blank">
        <img src="{{ asset('bundles/base/img/social/vk.png') }}" alt="VK" />
    </a>

    <!-- Yummly -->
    <a href="http://www.yummly.com/urb/verify?url={{ url|e('html_attr') }}&amp;title={{ title|e('html_attr') }}" target="_blank">
        <img src="{{ asset('bundles/base/img/social/yummly.png') }}" alt="Yummly" />
    </a>
</div>
