{# FuzQuickStartBundle:Captcha:captcha.html.twig #}

{% extends 'FuzQuickStartBundle::layout.html.twig' %}

{% block body %}

    <fieldset>
        <legend>{{ 'quickstart.captcha.title' | trans }}</legend>

        <div class="col-md-12">
            <p>{{ 'quickstart.captcha.explaination' | trans }}</p>
        </div>

        <form method="post" action="{{ path('captcha_validate', {'key': key}) }}">

            <div class="col-md-12">

                <div id="captcha-modal-container"></div>

                <br/>

                <input type="submit" class="btn btn-primary" value="{{ 'quickstart.captcha.continue' | trans }}" />

            </div>

        </form>

    </fieldset>

{% endblock %}

{% block extra_js %}
    <script src='https://www.google.com/recaptcha/api.js?onload=noCaptchaNowReady&render=explicit' async defer></script>
{% endblock %}

{% block script %}

    <script type="text/javascript">

        var noCaptchaNowReady = function () {
            grecaptcha.render('captcha-modal-container', {
                'sitekey': '{{ nocaptcha_site_key }}'
            });
        };

    </script>

{% endblock %}

