{% verbatim %}
{% extends 'AppBundle::layout.html.twig' %}

{% import 'BaseBundle::macros.html.twig' as macros %}

{% block title %}{{ {% endverbatim %}'{{ bundleName|snakecase|lower }}.{{ entityName|snakecase|lower }}.manage'{% verbatim %} | trans }}{% endblock %}

{% block body %}

    <div class="well">

        {{ macros.search('{% endverbatim %}{{ entityName|kebabcase }}{% verbatim %}-filter') }}

        <table class="table">
            <thead>
                <tr>{% endverbatim %}{% for name, column in columns %}{% verbatim %}
                    <th style="width: {% endverbatim %}{{ 85 / columns|length }}{% verbatim %}%;">{{ macros.orderBy(orderBy, '{% endverbatim %}{{ name }}{% verbatim %}', '{% endverbatim %}{{ bundleName|snakecase|lower }}.{{ entityName|snakecase|lower }}.{{ name|snakecase|lower }}{% verbatim %}') }}</th>{% endverbatim %}{% endfor %}{% verbatim %}
                    <th style="width: 15%;">{{ '{% endverbatim %}{{ bundleName|snakecase|lower }}.{{ entityName|snakecase|lower }}.actions{% verbatim %}' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for {% endverbatim %}{{ entityName|snakecase|lower }}{% verbatim %} in pager.currentPageResults %}
                    <tr>
                        <td>
                            {{ {% endverbatim %}{{ entityName|snakecase|lower }}{% verbatim %}.id }}
                        </td>{% endverbatim %}{% for name, column in columns if name != 'id' %}{% verbatim %}
                        <td>
                            {{
                                include('BaseBundle::editOnClick.html.twig', {
                                    'text': {% endverbatim %}{{ entityName|snakecase|lower }}.{{ name }}{% verbatim %},
                                    'endpoint': path('_{% endverbatim %}{{ routePrefix }}_edit_{{ name|snakecase|lower }}{% verbatim %}', {id: {% endverbatim %}{{ entityName|snakecase|lower }}{% verbatim %}.id}),
                                })
                            }}
                        </td>{% endverbatim %}{% endfor %}{% verbatim %}
                        <td>
                            <a
                                href="{{ path('{% endverbatim %}{{ routePrefix }}{% verbatim %}_delete', app.request.query.all|merge({id: {% endverbatim %}{{ entityName|snakecase|lower }}{% verbatim %}.id, token: csrf_token('{% endverbatim %}{{ routePrefix }}{% verbatim %}')})) }}"
                                data-message="{{ '{% endverbatim %}{{ bundleName|snakecase|lower }}.{{ entityName|snakecase|lower }}{% verbatim %}.delete_confirm' | trans({'%id%': {% endverbatim %}{{ entityName|snakecase|lower }}{% verbatim %}.id}) | e('html_attr') }}"
                                class="requires-confirmation btn btn-danger btn-sm">{{ '{% endverbatim %}{{ bundleName|snakecase|lower }}.{{ entityName|snakecase|lower }}{% verbatim %}.delete' | trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ macros.pager(pager, '{% endverbatim %}{{ entityName|kebabcase }}{% verbatim %}-') }}

    </div>

    {{ macros.form(create, [], '{% endverbatim %}{{ bundleName|snakecase|lower }}.{{ entityName|snakecase|lower }}{% verbatim %}.create' | trans) }}

{% endblock %}
{% endverbatim %}
