{# BaseBundle:User:unsuscribe.html.twig #}

{% extends 'BaseBundle::layout.html.twig' %}

{% block body %}

    <div class="jumbotron">

        <h1>{{ 'base.unsuscribe.title' | trans }}</h1>

        <p>{{ 'base.unsuscribe.explain' | trans }} <span class="text-danger">{{ 'base.unsuscribe.removed' | trans }}</span>.</p>

        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
