{# BaseBundle:User:unsubscribe.html.twig #}

{% extends 'BaseBundle::layout.html.twig' %}

{% block title %}{{ 'base.unsubscribe.menu'|trans }}{% endblock %}

{% block body %}

    <div class="jumbotron">

        <h1>{{ 'base.unsubscribe.title' | trans }}</h1>

        <p>
            {{ 'base.unsubscribe.explain' | trans }}
            <span class="text-danger">{{ 'base.unsubscribe.removed' | trans }}</span>.
        </p>

        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </div>

    <a href="{{ path('home') }}" class="btn btn-success">{{ 'base.button.back'|trans }}</a>

{% endblock %}
