<fieldset>
    <legend>{{ 'quickstart.login.user.register' | trans({'%brand%': brand}) }}</legend>

    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

        {{ form_widget(form) }}

        <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>

</fieldset>

