<fieldset>
    <legend>{{ 'quickstart.login.user.register' | trans({'%brand%': fuz.site_brand}) }}</legend>

    {{
        form_start(form, {
            'action': path('fos_user_registration_register'),
            'method': 'POST',
            'attr': {
                'class': 'fos_user_registration_register',
            }
        })
    }}

    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}

    <div class="form-group text-center">
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>

    {{ form_end(form) }}

</fieldset>

