{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ 'admin.users_groups.title' | trans({'%name%': user.nickname}) }}{% endblock %}

{% block body %}

    {% macro display(user, pager, prefix) %}

        {% import 'BaseBundle::macros.html.twig' as macros %}
        <div class="well">

            <h2>{{ ('admin.users_groups.' ~ prefix) | trans({'%name%': user.nickname}) }}</h2>

            {{ macros.search('filter-' ~ prefix) }}

            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 20%;">{{ 'admin.groups.id' | trans }}</th>
                        <th style="width: 50%;">{{ 'admin.groups.name' | trans }}</th>
                        <th style="width: 30%;">{{ 'admin.groups.actions' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in pager.currentPageResults %}
                        <tr>
                            <td>{{ group.id }}</td>
                            <td>{{ group.name }}</td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ macros.pager(pager, prefix) }}

        </div>

    {% endmacro %}

    {% import _self as me %}
    {{ me.display(user, pagerIn, 'in') }}
    {{ me.display(user, pagerOut, 'out') }}

{% endblock %}
