<fieldset>
    <legend>{{ 'quickstart.changepassword.title'|trans }}</legend>

    {{
        form_start(form, {
            'action': path('fos_user_change_password'),
            'method': 'POST',
            'attr': {
                'class': 'fos_user_change_password',
            }
        })
    }}

    {{ form_widget(form) }}
     <div>
         <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
     </div>

    {{ form_end(form) }}

    <br/>
    <a href="{{ path('home') }}">{{ 'quickstart.button.home'|trans }}</a>

</fieldset>