{% extends 'AppBundle::layout.html.twig' %}

{% import 'BaseBundle::macros.html.twig' as macros %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {% for user in list %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ macros.user(user) }}</td>
                    <td>{{ user.contact }}</td>
                    <td>
                        {% if me == user.id %}
                            &nbsp;
                        {% else %}
                            <input
                                type="checkbox"
                                class="domajax change"
                                data-endpoint="{{ path('admin_administrators_list', {token: csrf_token('admin-administrators-toggle')}) }}"
                                data-input-attr="id"
                                data-id="{{ user.id }}"
                                {% if user.isAdmin %}checked{% endif %}
                            />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
