
{% import 'BaseBundle::macros.html.twig' as macros %}

{% set random = random() %}

<div id="i{{ random }}">
    {% if form is defined %}
        {{
            macros.form(form, {
                'attr': {
                    'data-output': '#i' ~ random,
                },
            })
        }}
    {% else %}
        <div
            class="domajax click"
            style="width: 100%;"
            data-endpoint="{{ endpoint }}"
            data-output="#i{{ random }}"
        >
            {% if text %}
                {{ text|nl2br }}
            {% else %}
                <em class="help-block" style="margin:0">{{ 'base.undefined'|trans }}</em>
            {% endif %}
        </div>
    {% endif %}
</div>
