{% extends 'BaseBundle::template.html.twig' %}
{% import "BaseBundle::macros.html.twig" as macros %}

{% block translations %}
    {% if fuz.supported_locales|length %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    {% set current_locale = fuz.supported_locales[app.request.locale]|default(false) %}
                    {% if current_locale %}
                        <img class="lang-image"
                             src="{{ asset('bundles/base/img/countries/' ~ current_locale.flag ~ '.png') }}" alt=""/>
                        {{ current_locale.menu }}
                    {% else %}
                        {{ 'base.locale.title' | trans }}
                    {% endif %}
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% block supported_locales %}
                        {% for locale, data in fuz.supported_locales %}
                            <li>
                                <a href="{{ path('reload', {'_locale': locale}) }}">
                                    <img class="lang-image"
                                         src="{{ asset('bundles/base/img/countries/' ~ data.flag ~ '.png') }}" alt=""/>
                                    {{ data.menu }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endblock %}
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block login %}
    <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') %}
            {% block logged_in %}
                {% if fuz.user.allow_update %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">&nbsp;&nbsp;&nbsp;{{ macros.me() }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li {% if app.request.pathInfo == path('profile') %}class="active"{% endif %}>
                                <a href="{{ path('profile') }}">{{ 'base.profile.title' | trans }}</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{{ path('logout') }}">{{ 'base.logout.title' | trans }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <p class="navbar-text">&nbsp;&nbsp;&nbsp;{{ 'base.login.as' | trans }} {{ macros.me() }}</p>
                    <li><a href="{{ path('logout') }}">{{ 'base.logout.title' | trans }}</a></li>
                {% endif %}
            {% endblock %}
        {% else %}
            {% block logged_out %}
                {% set servicesCount = 0 %}
                {% for service, enabled in fuz.services if enabled %}
                    {% set servicesCount = servicesCount + 1 %}
                {% endfor %}

                {% if servicesCount > 0 %}
                    {% if servicesCount > 1 %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">{{ 'base.login.title' | trans }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                    {% endif %}

                    {% for service, enabled in fuz.services if enabled %}
                        {% set serviceId = (service|split(' '))[0]|lower %}
                        <li><a href="{{ hwi_oauth_login_url(serviceId) }}"><img class="oauth-image"
                                                                                src="{{ asset('bundles/base/img/oauth/' ~ serviceId ~ '-small.png') }}"
                                                                                alt=""/> {{ service }}</a></li>
                    {% endfor %}

                    {% if servicesCount > 1 %}
                        </ul>
                        </li>
                    {% endif %}

                {% endif %}
            {% endblock %}
        {% endif %}
    </ul>
{% endblock %}

{% block left_menu %}
    {% if fuz.menu_left %}
        {{ knp_menu_render('AppBundle:Builder:mainLeftMenu') }}
    {% endif %}
{% endblock %}

{% block right_menu %}
    {% if fuz.menu_right %}
        {{ knp_menu_render('AppBundle:Builder:mainRightMenu') }}
    {% endif %}
{% endblock %}

{% block body_title %}
    {% if block('title') != '' %}
        <h1>{{ block('title') }}</h1>
    {% endif %}
{% endblock %}
