{# BaseBundle::macros.html.twig #}

{% macro modal(id, title, body, options) %}

    {% set defaults = {
    'modal-class': null,
    } %}
    {% set options = defaults|merge(options|default({})) %}

    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}" aria-hidden="true">
        <div class="modal-dialog {{ options['modal-class'] }}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <div class="text-left">{{ title }}</div>
                    </h4>
                </div>
                <div class="modal-body">
                    {{ body }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" title="Close the window">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro flash_error(message) %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endmacro %}

{% macro form_general_errors(form) %}
    {%- if form.vars.errors|length > 0 -%}
        {%- for error in form.vars.errors -%}
            <p class="error-message error">{{- error.message -}}</p>
        {%- endfor -%}
    {%- endif -%}
{% endmacro %}

{% macro form_specific_errors(field) %}
    {% if field.vars.errors|length > 0 %}
        {%- for error in field.vars.errors -%}
            <div class="control-label text-danger">{{ error.message }}</div>
        {%- endfor -%}
    {% endif %}
{% endmacro %}

{% macro box(color, title, message) %}

    {% set colors = {
    'black': {
    'img': asset('bundles/base/img/flags/black.gif'),
    'background': '#DDDDDD',
    'color': '#000000',
    },
    'red': {
    'img': asset('bundles/base/img/flags/red.gif'),
    'background': '#FFDDDD',
    'color': '#FF0000',
    },
    'yellow': {
    'img': asset('bundles/base/img/flags/yellow.gif'),
    'background': '#FFFFDD',
    'color': '#A76726',
    },
    'green': {
    'img': asset('bundles/base/img/flags/green.gif'),
    'background': '#DDFFDD',
    'color': '#006600',
    },
    'blue': {
    'img': asset('bundles/base/img/flags/blue.gif'),
    'background': '#DDDDFF',
    'color': '#000066',
    },
    } %}

    {% set config = colors[color]|default(colors['black']) %}

    <div class="row">
        <div class="col-md-12">
            <div class="box-style"
                 style="background-color:{{ config.background }};color:{{ config.color }};border:1px solid {{ config.color }};">
                <div class="text-center">
                    <img src="{{ config.img }}" alt="{{ color|title }} Flag" class="flag"/>
                    <p><strong>{{ title }}</strong></p>
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro me() %}
    {% spaceless %}
        {% import _self as macros %}
        {% if is_granted('ROLE_USER') %}
            {{ macros.user(app.user) }}
        {% else %}
            Guest
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro user(user, large = false) %}
    {%- spaceless %}
        {% if user != null %}
            {% if user.picture %}
                <img class="user-image{{ large ? '-large' : '' }}" src="{{ user.picture }}" alt=""/>
            {% else %}
                <img class="oauth-image{{ large ? '-large' : '' }}"
                     src="{{ asset('bundles/base/img/oauth/' ~ user.resourceOwner ~ '-small.png') }}" alt=""/>
            {% endif %}
            {{ user.nickname }}
        {% endif %}
    {% endspaceless -%}
{% endmacro %}

{% macro pager(pager, prefix = '', hash = '') %}
    <div class="row">
        <div class="text-center col-md-12">
            {{ pagerfanta(pager, 'light', {
                'pageParameter': '[' ~ prefix ~ 'page]',
                'hash': hash,
            }) }}
        </div>
        <div class="text-left col-md-4">
            <div>{{ 'base.pager.per_page'|trans }}</div>
            <ul class="pagination">
                {% for perPage in constant('BaseBundle\\Base\\BaseController::PAGER_PER_PAGE_LIST')|split(',') %}
                    {% set isCurrent = perPage == pager.maxPerPage %}
                    <li {% if isCurrent %}class="active"{% endif %}>
                        {% if isCurrent %}<span>{% else %}<a
                                    href="?{{ http_build_query(app.request.query.all|merge({(prefix ~ 'per-page'): perPage})) ~ (hash ? '#' ~ hash : '') }}">{% endif %}
                                {{ perPage }}
                            {% if isCurrent %}</span>{% else %}</a>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="text-center col-md-4">
            <br/>
            <p>{{ pager.nbResults }} {{ 'base.pager.result' | transchoice(pager.nbResults) }}</p>
        </div>
        <div class="text-right col-md-4">
            <div>{{ 'base.pager.go_to'|trans }}</div>
            {% set currentRoute = current_route() %}
            <form class="form-inline"
                  action="{{ path(currentRoute.name, currentRoute.params) ~ (hash ? '#' ~ hash : '') }}" method="get">
                <div class="form-group">
                    <input class="form-control" name="{{ prefix }}page" style="width: 100px;" type="text"/>
                    {% for key, value in app.request.query.all if key != prefix ~ 'page' %}
                        {{ array_to_query_fields(key, value) }}
                    {% endfor %}
                    <input class="btn btn-primary" value="{{ 'base.pager.go'|trans }}" type="submit"/>
                </div>
            </form>
        </div>
    </div>
{% endmacro %}

{% macro orderBy(order, column, label, hash = '') %}
    {% set isCurrent = order.column == column %}
    {% if isCurrent %}
        <a style="color:black;"
           href="?{{ http_build_query(app.request.query.all|merge({(order.prefix ~ 'order-by'): column, (order.prefix ~ 'order-by-direction'): order.direction == 'ASC' ? 'desc' : 'asc'})) ~ (hash ? '#' ~ hash : '') }}">{{ label|trans }}</a>
    {% else %}
        <a href="?{{ http_build_query(app.request.query.all|merge({(order.prefix ~ 'order-by'): column})) ~ (hash ? '#' ~ hash : '') }}">{{ label|trans }}</a>
    {% endif %}
    {% if not isCurrent or order.direction != 'ASC' %}
        <a href="?{{ http_build_query(app.request.query.all|merge({(order.prefix ~ 'order-by'): column, (order.prefix ~ 'order-by-direction'): 'asc'})) ~ (hash ? '#' ~ hash : '') }}">▲</a>
    {% else %}
        ▲
    {% endif %}
    {% if not isCurrent or order.direction != 'DESC' %}
        <a href="?{{ http_build_query(app.request.query.all|merge({(order.prefix ~ 'order-by'): column, (order.prefix ~ 'order-by-direction'): 'desc'})) ~ (hash ? '#' ~ hash : '') }}">▼</a>
    {% else %}
        ▼
    {% endif %}
{% endmacro %}

{% macro search(name = 'filter') %}
    <div class="pull-right">
        <form method="get" action="" class="form-inline" role="form">
            <div class="input-group stylish-input-group" style="border:none;">
                <div class="input-group stylish-input-group" style="border:none;">
                    <span class="form-control" style="border-right:none;">
                        <input name="{{ name }}" placeholder="{{ 'base.search'|trans|e('html_attr') }}"
                               style="border:none;" class="form-control"
                               value="{{ app.request.get(name)|e('html_attr') }}" type="search">
                        {% for key, value in app.request.query.all if key != name %}
                            {{ array_to_query_fields(key, value) }}
                        {% endfor %}
                    </span>
                    <span class="form-control" style="border-left:none;">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
{% endmacro %}

{% macro form(form, options = [], title = null) %}
    <fieldset class="well">
        {% if title %}
            <label class="lead">{{ title }}</label>
        {% endif %}
        {{ form(form, options) }}
    </fieldset>
{% endmacro %}