{% block markdown_widget %}

    <div class="row">
        <div class="col-md-{{ preview is same as(true) ? 6 : 12 }}">
            {{ form_widget(form.markdown, {
                'attr': {
                    'class': attr.class|default('') ~ ' markdown',
                    'style': attr.style|default('') ~ ' min-height:100px;',
                    'data-html': form.html.vars.id,
                    'data-preview': preview is same as(true) ? ('#' ~ id ~ '-rendered') : (preview ? : ''),
                }|merge(attr|default({}))
            }) }}
        </div>
        <div class="hide">
            {{ form_widget(form.html) }}
        </div>
        {% if preview is same as(true) %}
            <div id="{{ id }}-rendered" class="col-md-6 well" style="min-height:100px;">
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block codemirror_widget %}
    <div class="well">
        {{
            form_widget(form, {
                'attr': {
                    'class': form.vars.attr.class|default('') ~ ' codemirror',
                    'data-modes': modes|json_encode,
                    'data-options': codemirror|json_encode
                }
            })
        }}
    </div>
{% endblock %}
