{% extends 'AppBundle::layout.html.twig' %}

{% import 'BaseBundle::macros.html.twig' as macros %}

{% block title %}{{ 'base.menu.admin.users' | trans }}{% endblock %}

{% block body %}

    <div class="well">

        {{ macros.search() }}

        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'admin.users.id' | trans }}</th>
                    <th>{{ 'admin.users.network' | trans }}</th>
                    <th>{{ 'admin.users.nickname' | trans }}</th>
                    <th>{{ 'admin.users.contact' | trans }}</th>
                    <th>{{ 'admin.users.actions' | trans }}</th>
                    <th>{{ 'admin.users.frozen' | trans }}</th>
                    <th>{{ 'admin.users.admin' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pager.currentPageResults %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>
                            <img class="oauth-image" src="{{ asset('bundles/base/img/oauth/' ~ user.resourceOwner ~ '-small.png') }}" alt=""/> {{ user.resourceOwner|title }}
                        </td>
                        <td>
                            {{
                                include('BaseBundle::editOnClick.html.twig', {
                                    'text': macros.user(user),
                                    'endpoint': path('_admin_users_edit_nickname', {id: user.id}),
                                })
                            }}
                        </td>
                        <td>
                            {{
                                include('BaseBundle::editOnClick.html.twig', {
                                    'text': user.contact,
                                    'endpoint': path('_admin_users_edit_contact', {id: user.id}),
                                })
                            }}
                        </td>

                        <td>
                            <a
                                href="{{ path('admin_users_groups', {userId: user.id}) }}"
                                class="btn btn-warning btn-sm">{{ 'admin.users.manage' | trans }}</a>
                        </td>
                        <td>
                            <input
                                type="checkbox"
                                class="domajax change"
                                data-endpoint="{{ path('_admin_users_toggle_frozen', {token: csrf_token('administration')}) }}"
                                data-input-attr="id"
                                data-id="{{ user.id }}"
                                {% if user.isFrozen %}checked{% endif %}
                            />
                        </td>
                        <td>
                            {% if me == user.id %}
                                &nbsp;
                            {% else %}
                                <input
                                    type="checkbox"
                                    class="domajax change"
                                    data-endpoint="{{ path('_admin_users_toggle_admin', {token: csrf_token('administration')}) }}"
                                    data-input-attr="id"
                                    data-id="{{ user.id }}"
                                    {% if user.isAdmin %}checked{% endif %}
                                />
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ macros.pager(pager) }}

    </div>

{% endblock %}
