{% extends 'AppBundle::layout.html.twig' %}

{% import 'BaseBundle::macros.html.twig' as macros %}

{% block title %}{{ 'base.menu.admin.users' | trans }}{% endblock %}

{% block body %}

    {{ macros.search() }}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'admin.users.id' | trans }}</th>
                <th>{{ 'admin.users.name' | trans }}</th>
                <th>{{ 'admin.users.email' | trans }}</th>
                <th>{{ 'admin.users.admin' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in pager.currentPageResults %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ macros.user(user) }}</td>
                    <td>
                        {{
                            include('AdminBundle::_editOnClick.html.twig', {
                                'text': user.contact,
                            })
                        }}
                    </td>
                    <td>
                        {% if me == user.id %}
                            &nbsp;
                        {% else %}
                            <input
                                type="checkbox"
                                class="domajax change"
                                data-endpoint="{{ path('admin_users_toggle', {token: csrf_token('administration')}) }}"
                                data-input-attr="id"
                                data-id="{{ user.id }}"
                                {% if user.isAdmin %}checked{% endif %}
                            />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ macros.pager(pager) }}

{% endblock %}
