{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ 'admin.users_manage.title' | trans({'%name%': user.nickname}) }}{% endblock %}

{% block body %}

    {% import 'AdminBundle:Groups:macros.html.twig' as groupsMacros %}

    <div class="row">
        <div class="col-md-6">
            {{ groupsMacros.displayGroups('users', user.id, user.nickname, groupsIn, 'in') }}
        </div>
        <div class="col-md-6">
            {{ groupsMacros.displayGroups('users', user.id, user.nickname, groupsOut, 'out') }}
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('admin_users') }}">{{ 'base.button.back' | trans }}</a>
    </div>

    <div>&nbsp;</div>

{% endblock %}

{% block script %}

    {{ include('AdminBundle::keep-tabs.html.twig') }}

{% endblock %}
