{# FuzQuickStartBundle:Login:login.html.twig #}

{# HWIOAuthBundle integration #}

{% set nb_oauth = fuz.google_enabled + fuz.facebook_enabled + fuz.twitter_enabled %}

{% macro displayProvider(name, nb_oauth) %}

    <a
        title="{{ 'quickstart.login.using'|trans({'%provider%': name|title}) }}"
        href="{{ hwi_oauth_login_url(name|lower) }}"
        class="black">
        <div class="oauth col-md-{{ 12 / nb_oauth }}">
            <img src="{{ asset('bundles/fuzquickstart/img/oauth/' ~ name|lower ~ '.png') }}" alt="{{ name|title }}"/>
            <p>{{ 'quickstart.login.using'|trans({'%provider%': name|title}) }}</p>
        </div>
    </a>

{% endmacro %}

{% if nb_oauth > 0 %}

    <fieldset>
        <legend>{{ 'quickstart.login.resource_owners'|trans }}</legend>

        <div class="row" id="oauth">

            <div class="col-md-1">
                &nbsp;
            </div>

            <div class="col-md-10">
                <div class="row" id="login">

                    {% if fuz.google_enabled %}
                        {{ _self.displayProvider('Google', nb_oauth) }}
                    {% endif %}

                    {% if fuz.facebook_enabled %}
                        {{ _self.displayProvider('Facebook', nb_oauth) }}
                    {% endif %}

                    {% if fuz.twitter_enabled %}
                        {{ _self.displayProvider('Twitter', nb_oauth) }}
                    {% endif %}

                </div>
            </div>

            <div class="col-md-1">
                &nbsp;
            </div>

            <div class="clear">&nbsp;</div>
        </div>
    </fieldset>

{% endif %}

{% if nb_oauth > 0 and fuz.login_form %}

    <br/>

{% endif %}

{# FOSUserBundle integration #}
{% if fuz.login_form %}

    <div class="row" id="user">

        <div class="col-md-6">
            {{ render(controller('FOSUserBundle:Security:login')) }}
        </div>

        <div class="col-md-6">
            {{ render(controller('FOSUserBundle:Registration:register', {'parent': true})) }}
        </div>

        <div class="clear">&nbsp;</div>

    </div>

{% endif %}