{# FuzQuickStartBundle:Login:login.html.twig #}

{% macro displayProvider(name) %}

    <a
        title="{{ 'quickstart.login.using'|trans({'%provider%': name|title}) }}"
        href="{{ hwi_oauth_login_url(name|lower) }}"
        class="black">
        <div class="oauth col-md-4">
            <img src="{{ asset('bundles/fuzquickstart/img/oauth/' ~ name|lower ~ '.png') }}" alt="{{ name|title }}"/>
            <p>{{ 'quickstart.login.using'|trans({'%provider%': name|title}) }}</p>
        </div>
    </a>

{% endmacro %}

<fieldset>
    <legend>{{ 'quickstart.login.resource_owners'|trans }}</legend>

    <div class="row" id="oauth">

        <div class="col-md-1">
            &nbsp;
        </div>

        <div class="col-md-10">
            <div class="row" id="login">

                {{ _self.displayProvider('Google') }}
                {{ _self.displayProvider('Facebook') }}
                {{ _self.displayProvider('Twitter') }}

            </div>
        </div>

        <div class="col-md-1">
            &nbsp;
        </div>

        <div class="clear">&nbsp;</div>
    </div>
</fieldset>

<hr/>

<div class="row" id="user">

    <div class="col-md-6">
        {{ render(controller('FOSUserBundle:Security:login')) }}
    </div>

    <div class="col-md-6">
        {{ render(controller('FOSUserBundle:Registration:register', {'parent': true})) }}
    </div>

    <div class="clear">&nbsp;</div>

</div>
