{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ 'admin.roles_manage.title' | trans({'%name%': role.name}) }}{% endblock %}

{% block body %}

    {% import 'AdminBundle:Users:macros.html.twig' as usersMacros %}
    {% import 'AdminBundle:Groups:macros.html.twig' as groupsMacros %}

    <h2>{{ 'admin.roles_manage.users'|trans }}</h2>
    <div class="row">
        <div class="col-md-6">
            {{ usersMacros.displayUsers('roles', role.id, role.name, usersIn, 'in') }}
        </div>
        <div class="col-md-6">
            {{ usersMacros.displayUsers('roles', role.id, role.name, usersOut, 'out') }}
        </div>
    </div>

    <hr/>

    <h2>{{ 'admin.roles_manage.groups'|trans }}</h2>
    <div class="row">
        <div class="col-md-6">
            {{ groupsMacros.displayGroups('roles', role.id, role.name, groupsIn, 'in') }}
        </div>
        <div class="col-md-6">
            {{ groupsMacros.displayGroups('roles', role.id, role.name, groupsOut, 'out') }}
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('admin_roles') }}">{{ 'base.button.back' | trans }}</a>
    </div>

{% endblock %}
