<fieldset>
    <legend>{{ 'quickstart.reset.title'|trans }}</legend>

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

        <div class="form-group">
            {% if invalid_username is defined %}
                <div>
                    <div class="alert alert-danger text-center">
                        <span class="success">{{ 'quickstart.reset.invalid'|trans({'%username%': invalid_username}) }}</span>
                    </div>
                </div>
            {% endif %}
            <label class="control-label" for="username">{{ 'quickstart.reset.email'|trans }}</label>
            <div class="controls">
                <input class="form-control" id="username" name="username" placeholder="{{ 'quickstart.reset.example' | trans }}" required="required" type="text">
            </div>
        </div>

        <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>

    </form>

    <a href="{{ path('home') }}">{{ 'quickstart.button.home'|trans }}</a>

</fieldset>
