{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ 'admin.groups_manage.title' | trans({'%name%': group.name}) }}{% endblock %}

{% block body %}

    {% import 'AdminBundle:Users:macros.html.twig' as usersMacros %}

    <div class="row">
        <div class="col-md-6">
            {{ usersMacros.displayUsers('groups', group.id, group.name, usersIn, 'in') }}
        </div>
        <div class="col-md-6">
            {{ usersMacros.displayUsers('groups', group.id, group.name, usersOut, 'out') }}
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('admin_groups') }}">{{ 'base.button.back' | trans }}</a>
    </div>

    <div>&nbsp;</div>

{% endblock %}

{% block script %}

    {{ include('AdminBundle::keep-tabs.html.twig') }}

{% endblock %}
