{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ 'admin.groups_manage.title' | trans({'%name%': group.name}) }}{% endblock %}

{% block body %}

    {% import 'AdminBundle:Users:macros.html.twig' as usersMacros %}
    {% import 'AdminBundle:Permissions:macros.html.twig' as permissionsMacros %}

    <h2>{{ 'admin.groups_manage.users'|trans }}</h2>

    <div class="row">
        <div class="col-md-6">
            {{ usersMacros.displayUsers('groups', group.id, group.name, usersIn, 'in') }}
        </div>
        <div class="col-md-6">
            {{ usersMacros.displayUsers('groups', group.id, group.name, usersOut, 'out') }}
        </div>
    </div>

    <hr/>

    <h2>{{ 'admin.groups_manage.permissions'|trans }}</h2>
    <div class="row">
        <div class="col-md-6">
            {{ permissionsMacros.displayPermissions('groups', group.id, group.name, permissionsIn, 'in') }}
        </div>
        <div class="col-md-6">
            {{ permissionsMacros.displayPermissions('groups', group.id, group.name, permissionsOut, 'out') }}
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('admin_groups') }}">{{ 'base.button.back' | trans }}</a>
    </div>

{% endblock %}
