{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ 'admin.groups_users.title' | trans({'%name%': group.name}) }}{% endblock %}

{% block body %}

    {% macro display(group, pager, prefix) %}

        {% import 'BaseBundle::macros.html.twig' as macros %}
        <div class="well">

            <h2>{{ ('admin.groups_users.' ~ prefix) | trans({'%name%': group.name}) }}</h2>

            {{ macros.search('filter-' ~ prefix) }}

            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'admin.users.id' | trans }}</th>
                        <th>{{ 'admin.users.nickname' | trans }}</th>
                        <th>{{ 'admin.users.contact' | trans }}</th>
                        <th>{{ 'admin.users.actions' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in pager.currentPageResults %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ macros.user(user) }}</td>
                            <td>{{ user.contact }}</td>
                            <td>
                                {% set path = path('admin_groups_users_toggle', app.request.query.all|merge({groupId: group.id, userId: user.id, token: csrf_token('administration')})) %}
                                {% if prefix == 'in' %}
                                    <a
                                        href="{{ path }}"
                                        class="btn btn-danger btn-sm">{{ 'admin.groups_users.remove' | trans }}</a>
                                {% else %}
                                    <a
                                        href="{{ path }}"
                                        class="btn btn-success btn-sm">{{ 'admin.groups_users.add' | trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ macros.pager(pager, prefix) }}

        </div>

    {% endmacro %}

    {% import _self as me %}
    {{ me.display(group, pagerIn, 'in') }}
    {{ me.display(group, pagerOut, 'out') }}

    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('admin_groups') }}">{{ 'base.button.back' | trans }}</a>
    </div>

{% endblock %}
